AWS_PROFILE=default
AWS_REGION=eu-west-2
ENV_NAME=dev
MOODLE_ROLE_NAME=MoodleCombinedSSMAndBedrockRole
MOODLE_BASE_URL=https://dev.novalxp.co.uk
MOODLE_TOKEN=replace-me
OPENAI_API_KEY=replace-me
OPENAI_MODEL=gpt-5-mini
TRELLO_SECRET_ARN=replace-me
MOODLE_AI_GENERATED_CATEGORY_ID=5
MOODLE_AI_GENERATED_CATEGORY_NAME=AI-Generated
COURSE_PASS_MARK=80
